
html {
    font-size: 62.5%;
    
}

body {
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
   
}

.main-container {
    display: block;
    width: 100vw;
    background: #254159;
   
}
.containerlogo{
    background: #254159;
}

.container {
    background: #385874;
    display: block;
    float: left;
    padding: 20px;
    max-width: 100%;
   
}
.destaque{
    color:orangered;
}


#logo1 {
    width: 20%;
    background:#b8c8d6;
    cursor: pointer;
}
#logo1:hover {
    background:whitesmoke;
}
#menulateral{
    margin-top: 20px;
    background:#b8c8d6;
}
#menulateral:hover{
   background: whitesmoke;
   transform: all 300ms ease;
   cursor: pointer;
}

#clickhere:hover{
    background:orangered;
    cursor: pointer;
}
header {
    background:#254159;
    display: block;
    float: left;
    padding: 20px;
    width: 70%;
    border-bottom: 5px dashed #b8c8d6;
}

h1 {
    font-size: 2.4rem;
    color: whitesmoke;
    margin-bottom: 20px;
    justify-content: baseline;
}

h2 {
    margin-top: 20px;
    font-size: 2rem;
    color: whitesmoke;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: whitesmoke;
    margin-bottom: 20px;
    padding-top: 10px;
}

h4 {
    font-size: 1.6rem;
    color: whitesmoke;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
    color: whitesmoke;
    justify-content:end;
}

img {
    max-width: 50%;
    height: auto;
}

#cognito {
    background-color: #b8c8d6;
 
}
.cog-form_content{
    background: #385874 !important;
}


#tenho-interesse .cognito .c-forms-form .c-forms-form-title h2,
#tenho-interesse .cognito label[for], .cognito input[type=radio], .cognito input[type=checkbox] {
    color: #385874;
}

ol {
    margin-left: 30px;
}

ol li {
    font-size: 1.4rem;
    color: #454545;
}

section {
    background-color:#385874;
    display: block;
    float: left;
    font-size: 1.5rem; /* equivalente a 15px */ 
    padding: 20px;
    width: 70%;
    
}

section nav {
    margin-left: 0;
    display: block;
    float: left;
    width: 30%;
}

nav li {
    background-color: #efefef;
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li:hover {
    background-color: #dfdfdf;
}

nav a {
    text-decoration: none;
    color: #254159;
}

nav a:hover {
    color: #385874;
}

section article {
    display: block;
    float: left;
    width: 70%;
    
}

footer {
    background-color: #254159;  
    display: block;
    float: left;
    padding: 20px;
    width: 70%;
    border-top: 5px dashed #b8c8d6;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
}



.containercog{
    max-width: 100% !important;
    margin-left: 20%;
    justify-content: center;
    text-align: center;
}
.containerfoot{
    justify-content: center;
    text-align: center;
    font-size: 80%;
    display: block;
}

.cognito {
    width: 70% !important;
    height: 350px !important;
    overflow: hidden !important;
}

@media (max-width: 425px) {
    section nav,
    section article {
        width: 100%;
    }  

    .container {
        padding-left: 1%;
        padding-right: 1%;
    }
}